.container {
    box-sizing: content-box;
    background-attachment: url("corner\ rounded\ image.jpg");
    margin: auto;
    padding: auto;
    
    text-align: center;
    background: lightcoral;
}
p {
    text-align: center;
    font-size: medium;
    font:bold;
    
}

img {
    height: auto;
	max-width: 100%;
    border-radius: 50%;
  }
  body {
	margin-left: auto;
	margin-right: auto;
	max-width: 40em;
	width: 88%;
}

